thead tr th {
    color: white;
    background-color:seagreen ;
    border: solid seagreen;
    border-color: seagreen;
}


tbody tr:nth-child(2){
    color:seagreen ;
}


table{
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}