*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center
}


.box{
    width: 300px;
    height: 300px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
   
}


@media (max-width: 600px) {
    .box{
        background-color: green;
    }
    
    p{
        color: blue;
    }
}
