@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Black+Ops+One&family=Chango&family=Chewy&family=Comic+Relief:wght@400;700&family=Commissioner:wght@100..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=Gravitas+One&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=New+Rocker&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Black+Ops+One&family=Chango&family=Chewy&family=Comic+Relief:wght@400;700&family=Commissioner:wght@100..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=Gravitas+One&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Rocker&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Wallpoet&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
}


header{
    margin-left: 30px;
}


.box{
    display: flex;
    justify-content: center;
    margin-right: 70px;
    gap: 30px;
    position: relative;
    top: -50px;
}


a{
    font-size: 25px;
    text-decoration: none;
    color: lightslategrey;
    font-family: Roboto;

}


h1{
    font-size: 60px;
    font-family: Montserrat;
    font-weight: 500;
    color: rgb(103, 102, 102);
}


.box1{
    display: flex;
    justify-content: center;
    margin-left: 75%;
    gap: 40px;
    position: relative;
    top: -80px;
}

