@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Black+Ops+One&family=Chango&family=Chewy&family=Comic+Relief:wght@400;700&family=Commissioner:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=New+Rocker&family=Pirata+One&family=Wallpoet&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Black+Ops+One&family=Chango&family=Chewy&family=Comic+Relief:wght@400;700&family=Commissioner:wght@100..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Gravitas+One&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=New+Rocker&family=Pirata+One&family=Wallpoet&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-image:url(./gettyimages-2148164065-640x640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


header {
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-top: 20px;
    align-items: center;

}


.nav {
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 40px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: darkblue;
    font-size: 40px;
}


img {
    height: 500px;
    width: 700px;
    margin-top: 120px;
}


.div1 {
    margin-left: 30px;
    font-size: 25px;
    font-family: Chango;
    color: rgb(255, 196, 0);
}  


.div2{
    margin-top: 100px;
    margin-left: 45%;
    font-size: 25px;
    font-family: Chango;
    color: rgb(216, 17, 60);
}


.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1850px;
    height: 300px;
    margin-top: 150px;
    font-size: 30px;
    font-weight: 600;
    font-family: Elms Sans;
}


p{
    padding-top: 120px;
    padding-left: 60px;
}