.css{
    color: green;
    background-color: aquamarine;
    border-radius: 6px;
    font-size: xx-large;
    border-color: rgb(255, 0, 0);
    

    
}


#main{
    color: green;
    background-color: aqua;
    border-radius: 6px;
    font-size: xx-large;
    border-color: rgb(242, 255, 0);
}

button{
    color: blueviolet;
    background-color: deeppink;
    font-size: xx-large;
    border-radius: 6px;
}