.css{
    color: red;
    background-color: black;
    text-align: center;
}

#cw{
    color: rgb(0, 38, 255);
    background-color: cyan;
    text-align:right;
}

h1{
    color: rgb(255, 0, 111);
    background-color: rgb(137, 3, 255);
    text-align:center;
}


div{
    color: rgb(0, 255, 255);
    background-color: rgb(106, 0, 255);
    font-size: xx-large;
}


.main{
    color: rgb(170, 0, 255);
    background-color: darkorange;
    font-size: xx-large;
    

}


#BOB{
    color: aqua;
    background-color: blue;
    font-size: xx-large;


}