@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Comic+Relief:wght@400;700&family=New+Rocker&family=Pirata+One&family=Saira+Stencil+One&family=Wallpoet&display=swap');

h1{
    text-align: center;
    font-family:New Rocker;
}

h2{
    text-align: center;
    font-family: New Rocker;
}


#a{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 900px;
    font-size: 35px;

}


#b{
    
}