*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


div{
    background-color: red;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    border: 4px solid black;
    transition: all 0.5s;
}


div:hover{
    transform:scale(1.5);
    transition: 0.5s;
}
